<!DOCTYPE html>
<html>
<head>
    <title>Kolokwium</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app" tabindex="0">
        <div class="cell">
            <div class="cyfra"> 1 </div>
        </div>
        <div class="mapa" v-for="x in rows">
            <div v-for="y in columns">
                <div class="cell" :class="{active: (active[0] == x && active[1] == y)}" @click="active=[x, y]">
                    {{ x }},{{ y }}
                </div>
            </div>
        </div>
    {{ message }}
    </div>

    <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Powodzenia',
            rows: 10,
            columns: 10,
            active: "1,1",
            active: [1,1],
            x1: 0,
            y1: 0,
        },

        methods: {
            
            down()
            {
            },

            up()
            {
            },

            right()
            {
            },

            left()
            {
            },
        }
    })
    </script>
</body>
</html>